<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="Your email">
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="Your name">
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="password" placeholder="Your password">
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="password" placeholder="Repeat Your password">
      </mat-form-field>
      <mat-grid-list cols="6">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon class="avatar" [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button type="button">Register</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Not registerd?<a href="">Login</a></p>
      <p>Forget password?<a href="">Back</a></p>
    </mat-card-actions>
  </mat-card>
</form>
