<form>
  <h2 mat-dialog-title>Build a new task</h2>
  <div mat-dialog-content>
    <mat-form-field color="accent" class="full-width">
      <input matInput type="text" placeholder="Task Name">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.label}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field color="accent" class="full-width">
      <input matInput type="text" placeholder="Due Date" [matDatepicker]="dueDateDatepicker">
      <mat-datepicker-toggle type="button" matSuffix [for]="dueDateDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #dueDateDatepicker></mat-datepicker>
    <mat-form-field color="accent" class="full-width">
      <input matInput type="text" placeholder="Reminder Date" [matDatepicker]="reminderDatepicker">
      <mat-datepicker-toggle type="button" matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #reminderDatepicker></mat-datepicker>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" color="primary">Save</button>
    <button mat-button mat-dialog-close type="button">Close</button>
  </div>
</form>
