<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="text" placeholder="Your email">
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <input matInput type="password" placeholder="Your password">
      </mat-form-field>
      <button mat-raised-button type="button">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Not registerd?<a href="">Register</a></p>
      <p>Forget password?<a href="">Find</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>One sentence</mat-card-title>
    <mat-card-subtitle>
      --April 14
    </mat-card-subtitle>
    <img mat-card-image src="/assets/priscilla-du-preez-234138-unsplash.jpg">
    <mat-card-content>
      Yesterday is history, <br>tomorrow is a mystery,<br>but today is a gift.
    </mat-card-content>
  </mat-card>
</form>
