<div [formGroup]="form" class="age-input">
  <div>
    <mat-form-field>
      <input type="text" matInput formControlName="birthday" [matDatepicker]="birthdayPicker" placeholder="birthday">
      <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-error>incorrect date</mat-error>
    </mat-form-field>
    <mat-datepicker touchUi="true" #birthdayPicker></mat-datepicker>
  </div>
  <ng-container formControlName="age">
    <div>
      <mat-form-field>
        <input type="number" placeholder="age" matSuffix formControlName="ageNumber">
      </mat-form-field>
    </div>
    <div>
      <mat-button-toggle-group formControlName="ageUnit">
        <mat-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">
          {{unit.label}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-error *ngIf="form.get('age').hasError('ageInvalid')">incorrect age or unit</mat-error>
  </ng-container>
</div>
